.poke-table_desc-col,
.poke-table_name-col {
  padding: 0.5em;
  text-align: left;
  vertical-align: top;
}

.poke-table_name-col {
  color: black;
}

.poke-table_desc-col {
  color: grey;
}

p.evolution-path:first-child {
  margin-top: 0;
}

p.evolution-path span:not(:last-child)::after {
  content: ' > ';
}

p.evolution-path > span.link {
  cursor: pointer;
}